main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2); /*  */
    padding: 1rem; 
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 100%;
    height: auto;
}

main img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    text-align: center;
    border-top: 1px solid #000; 
    
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 1rem;
}

nav a {
    color: inherit;
    text-decoration: none;
    padding: 0.5rem;
}

h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
}